@font-face {
    font-family: 'mui-icons-feedback-self';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/mui-icons-feedback-self.ttf?t=1494918092686') format('truetype'); /* iOS 4.1- */
}
.mui-icons-feedback-self{
    font-family: 'mui-icons-feedback-self';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.feedback-image-camera:after {
    content: "\e601";
}

.icons-feedback-shanchu:before {
    content: "\e61b";
}

.icon-feedback-o5:before {
    content: "\e60a";
}

.icon-feedback-send:before { 
    content: "\e634"; 
}

.icon-feedback-fasong:before { 
    content: "\e78b"; 
}

.icon-feedback-duihuakuang:before { 
    content: "\e663"; 
}

.icon-feedback-aixin:before { 
    content: "\e602"; 
}

.icon-feedback-aixin1:before { 
    content: "\e606"; 
}

.icon-feedback-comment:before { 
    content: "\e639"; 
}
.icon-feedback-pinglun:before { 
    content: "\e621"; 
}

.icon-feedback-youxi:before { 
    content: "\e666"; 
}